body {
	background-color: #E5E5E5;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

* {
	box-sizing: border-box
}

@media (min-width: 800px){
	.column-one{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 243px;
		height: 1024px;
		background: #084482;
}
	.row-style1{
	display: flex;
	justify-content: flex-end;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1197px;
	height: 104px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(163, 163, 163, 0.25);
	padding-top: 20px;
	margin-bottom: 20px
}
.row-style2{
	width: 1197px;
	height: 840px;
	margin-top: 20px;
	background-color: #E5E5E5;
	border: 2px solid black;
	box-shadow: 0px 4px 12px rgba(163, 163, 163, 0.25);

}

.row-style3{
	width: 1197px;
	height: 840px;
	margin-top: 20px;
	background-color: #FFFFFF;
	border: 2px solid black;
	box-shadow: 0px 4px 12px rgba(163, 163, 163, 0.25);
}
.paragraph {
	font-size: 20px;
	padding-top: 30px;
}

.anchor {
	color:white;
}

.size {
	font-size: 20px;
}

.img-padding{
	padding-right: 15px;
}

.header{
	color:#084482;
}

}


.column-one{
	font-size: 25px;
	background: #084482;
	margin-bottom: 12px;
}
.menu-items {
	display: flex;

	margin-left: 20px;
}

ul {
	list-style-type: none;
}

.position {
	float: right;
}

.save-button {
	float: right;
}

/* The tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color:  #E5E5E5;
  width: 30%;
  height: 300px;
}


/* The buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: #E5E5E5;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.active {
	background-color: #FFFFFF;
}


/* The tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 860px;
  background-color: #FFFFFF;
}
